<h1>Hola
  {{username}},
  {{#if isAdmin}}eres admin y {{/if}}
  acá están todos los productos</h1>
<section id="productsContainer">
  {{#if products}}
    {{#each products}}
      <article class="cardProduct" data-id={{this.newId}}>
        <h1>{{this._doc.title}}</h1>
        <p class="product-description">{{this._doc.description}}</p>
        <div class="priceAndStock">
          <p>${{this._doc.price}}</p>
          <p>Stock:{{this._doc.stock}}</p>
        </div>
        <button class="btn-card" id="btn-card" data-id={{this.newId}}>Agregar al
          carrito</button>
      </article>

    {{/each}}

  {{else}}
    <h2>No hay productos para mostrar....</h2>
  {{/if}}

</section>

<footer>
  {{#if hasPrevPage}}
    <a href="/home?page={{prevPage}}">Volver</a>
  {{/if}}

  <span class="current-page">
    {{currentPage}}
  </span>

  {{#if hasNextPage}}
    <a href="/home?page={{nextPage}}">Siguiente</a>
  {{/if}}
</footer>

<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/toastify-js"
></script>

<script src="js/home.js"></script>